{% extends "./base.html" %}

{% block title %}Universidade{% endblock %} 

{% block body %}

    <div class="row">
        <div class="col-sm-4 offset-md-4">
            <h2>Editar curso</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/editandoCurso/" method="post"> {% csrf_token %}
                        <div class="form-group py-2">
                            <input type="text" name="txtcodigo" id="txtcodigo" class="form-control" placeholder="Código" maxlength="6" minlength="6" value="{{curso.codigo}}" readonly required>
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="txtnome" id="txtnome" class="form-control" placeholder="Nome" maxlength="50" value="{{curso.nome}}" required>
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="txtprofessor" id="txtprofessor" class="form-control" placeholder="Professor" maxlength="50" value="{{curso.professor}}" required>
                        </div>
                        <div class="form-group py-2">
                            <input type="text" name="numcreditos" id="numcreditos" class="form-control" maxlength="9" minlength="1" value="{{curso.creditos}}" required>
                        </div>
                        <div class="form-group py-2">
                            <button type="submit" class="btn btn-info btn-block text-light">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}   